html{
    scroll-behavior: smooth;
    font-family: system-ui;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}

header{
    background-image: url(/src/assets/SplashScreen.png);
    background-size: cover;
    display: flex;
    flex-direction:row;
    color:rgb(184, 183, 183);
    justify-content: center;
    align-items:end;
    width: 100%;
    padding: 10px;
    margin-top: -12px;
    margin-left: -12px;
    position:relative;
    font-size: 1.5rem;
    height: 40vh;
    color: rgb(245, 209, 209);
    text-shadow: -1px -1px 0px rgba(0,0,0,0.8), 1px 1px 0px rgba(0,0,0,0.3), -1px 1px 0px rgba(0,0,0,0.3), 1px -1px 0px rgba(0,0,0,0.3);
}

nav {
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: #2b0126;
    display: flex;
    color:rgb(184, 183, 183);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-left: -12px;
}

nav a{
    color:rgb(184, 183, 183);
    padding: 0 1rem;
    transition: 0.7s;
}

nav a:hover{
    font-size: large;
    transition: 0.7s;
}

.prologo{
    color: rgb(152, 78, 101);
}

.cidade_abandonada{
    color:#70A386;
}

.terreno_antigo{
    color:#C64B59;
}

.resort_celestial{
    color: #B35F67;
}

.cordilheira_dourada{
    color: #8F6A99;
}

.templo_do_espelho{
    color: #B86D4F;
}

.reflexao{
    color: rgb(44, 113, 224);
}

.o_cume{
    color: #3FD8B4;
}

body{
    background-color: #0e0016;
}

section{
    min-height: 25vh;
    padding: 2rem 1rem;
    scroll-margin-top: 1rem;
    border-bottom: 1px solid #240038;
    color: rgb(184, 183, 183);
    font-size: 1.2rem;
}

.titulo_capitulo{
    display:flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.icone{
    height: 6rem;
    width: 6rem;
}

.organizacao{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.prints{
    height: 10rem;
    width: 16.7rem;
}

.print_especial{
    height: 10rem;
    width: 10rem;
}

.descr{
    font-size: smaller;
}

.instapix{
    color:darkgreen;
}

.obs{
    font-size: 1rem;
    margin-top: -1rem;
    margin-left: 1rem;
}

footer{
    background-color: #2b0126;
    display: flex;
    flex-direction: column;
    color:rgb(184, 183, 183);
    justify-content: center;
    align-items: center;
    bottom: 0px;
    justify-items: center;
}

footer a{
    color:rgb(230, 142, 142);
}