html{
    scroll-behavior: smooth;
    font-family: system-ui;
    font-weight: 400;
    font-style: normal;
}

header{
    background-image: url(/src/assets/SplashScreen.png);
    background-size: cover;
    display: flex;
    flex-direction:row;
    color:rgb(184, 183, 183);
    justify-content: center;
    align-items:end;
    width: 100%;
    padding: 10px;
    margin-top: -12px;
    margin-left: -12px;
    position:relative;
    font-size: 1.5rem;
    height: 40vh;
    color: rgb(245, 209, 209);
    text-shadow: -1px -1px 0px rgba(0,0,0,0.8), 1px 1px 0px rgba(0,0,0,0.3), -1px 1px 0px rgba(0,0,0,0.3), 1px -1px 0px rgba(0,0,0,0.3);
}

body{
    background-color: #0e0016;
}

section{
    min-height: 25vh;
    padding: 2rem 1rem;
    scroll-margin-top: 5rem;
    border-bottom: 1px solid #240038;
    color: rgb(184, 183, 183);
    font-size: 1.2rem;
}

.titulo_capitulo{
    display:flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.icone{
    height: 6rem;
    width: 6rem
}